<app-header></app-header>
<div class="container">
    <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Rick" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

    
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row"> {{row.status}}</td>
        </ng-container>

    
        <ng-container matColumnDef="especie">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> especie </th>
            <td mat-cell *matCellDef="let row"> {{row.species}}</td>
        </ng-container>
        <ng-container matColumnDef="genero">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> genero </th>
            <td mat-cell *matCellDef="let row"> {{row.gender}}</td>
        </ng-container>
        <ng-container matColumnDef="origen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Origen </th>
            <td mat-cell *matCellDef="let row"> {{row.origin.name}}</td>
        </ng-container>
        <ng-container matColumnDef="imagen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
            <td mat-cell *matCellDef="let row"> <img class="avatar"[src]="row.image"/></td>
        </ng-container>


        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" >No se encontró data  "{{input.value}}"</td>
        </tr>
        </table>

        <mat-paginator [pageSizeOptions]="paginas" aria-label="Select page of characters"></mat-paginator>
    </div>

</div>